{% extends "base2.html" %}
{% block title %}Starforger Starship Tools{% endblock %}
{% block description %}Starforger Starship generation tools{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Starforger Starship Tools</h1>
    <p class="lead">Starforger is D&D 5e in Space using the Dark Matter supplement by Mage Hand Press</p>
    <p class="lead"><a href="https://sfrpgtools.com/">sfrpgtools</a> is a suite of tools built with HTML and javascript
        for use with the Starfinder roleplaying game. This version tweaks the Starship Generation tools for use with
        Starforger.</p>
    <p></p>

</div>
{% endblock %}
{% block includes %}
{% endblock %}